<%= render "shared/header" %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "text-left" }) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
    <% if resource.avatar.present? %>
      <%= image_tag resource.avatar_url(:sm) %>
    <% else %>  
      <%= image_tag resource.uimage || "" %>
    <% end %>  
    <%= f.file_field :avatar %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, options_for_select([["Female", "female"], ["Male", "male"]], prompt: "Select One", selected: resource.gender) %>

  </div>
  <br/>

  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_field :birth_date %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, autofocus: true %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :industry %><br />
    <%= f.text_field :industry, autofocus: true %>
  </div>
  <br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= render "shared/footer" %>
<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<%#= link_to "Back", :back %>
