<nav class="bg-dark">
    <div class="nav-bar">
        <div class="module left">
            <a href="<%= root_path %>">
                <%= image_tag "logo-light.png", class: "logo logo-light" %>
                <%= image_tag "logo-dark.png", class: "logo logo-dark" %>
            </a>
        </div>
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
            <i class="ti-menu"></i>
        </div>
        <div class="module-group right">
            <div class="module left">
                <ul class="menu">
                    <li class="has-dropdown">
                        <a href="#">
                            Home
                        </a>
                        <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li>
                                        <span class="title">Concepts</span>
                                    </li>
                                    <li>
                                        <a href="#">Adventure Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Agency</a>
                                    </li>
                                    <li>
                                        <a href="#">App Landing</a>
                                    </li>
                                    <li>
                                        <a href="#">App Landing 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Capital Firm</a>
                                    </li>
                                    <li>
                                        <a href="#">Fitness</a>
                                    </li>
                                    <li>
                                        <a href="#">Restaurant</a>
                                    </li>
                                    <li>
                                        <a href="#">Music</a>
                                    </li>
                                    <li>
                                        <a href="#">Event / Seminar</a>
                                    </li>
                                    <li>
                                        <a href="#">Architecture</a>
                                    </li>
                                    <li>
                                        <a href="#">Winery</a>
                                        <span class="label">New !</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <a href="#">Photography</a>
                                    </li>
                                  <li>
                                        <a href="#">Ken Burns</a>
                                    </li>
                                    <li>
                                        <a href="#">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="#">Property Listing</a>
                                    </li>
                                    <li>
                                        <a href="#">Resumé</a>
                                    </li>
                                    <li>
                                        <span class="title">Home Pages</span>
                                    </li>
                                    <li>
                                        <a href="#">Home Classic</a>
                                    </li>
                                    <li>
                                        <a href="#">Home Layout 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Home Layout 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Home Layout 4</a>
                                    </li>
                                    <li>
                                        <a href="#">Home Layout 5</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Pages
                        </a>
                        <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li>
                                        <span class="title">Inner Pages</span>
                                    </li>
                                    <li>
                                        <a href="#">About Us 1</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us 2</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Services 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Services 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Services 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Planner</a>
                                        <span class="label">New!</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <span class="title">Utility Pages</span>
                                    </li>
                                    <li>
                                        <a href="#">Login</a>
                                    </li>
                                    <li>
                                        <a href="#">Register</a>
                                    </li>
                                    <li>
                                        <a href="#">Coming Soon</a>
                                    </li>
                                    <li>
                                        <a href="#">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="#">Confirmation</a>
                                    </li>
                                    <li>
                                        <a href="#">Countdown</a>
                                    </li>
                                    <li>
                                        <a href="#">Countdown 2</a>
                                    </li>
                                    <li>
                                        <a href="#">404 - Error</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Elements
                        </a>
                        <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li>
                                        <span class="title">Elements</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-link"></i> Buttons</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-layout-tab"></i> Tabbed Content</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-rocket"></i> Progress Bars</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-layout-accordion-separated"></i> Accordions</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-flag-alt"></i> Alerts</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-pencil-alt"></i> Form Inputs</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-alarm-clock"></i> Countdowns</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-layout-slider-alt"></i> Modals</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <span class="title">Elements</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-money"></i> Pricing Tables</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-eye"></i> Icon Boxes</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-layout-media-right"></i> Widgets</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-text"></i> Typography</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-view-grid"></i> Grid Structure</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-layout-list-large-image"></i> Text &amp; Image</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-microphone"></i> Intro Sections</a>
                                    </li>
            <li>
                                        <a href="#">
                                            <i class="ti-layout-cta-left"></i> Titles Left</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <span class="title">Elements</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-layout-cta-center"></i> Titles Center</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-video-clapper"></i> Video Inline</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-video-clapper"></i> Video BG</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-video-clapper"></i> Video Slider</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-gallery"></i> Image Galleries</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-layers"></i> Parallax</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-menu-alt"></i> Nav Styles</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Portfolio
                        </a>
                        <ul>
                            <li class="has-dropdown">
                                <a href="#">
                                    Contained
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            2 Columns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            3 Columns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            4 Columns
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Wide
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            2 Columns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            3 Columns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            4 Columns
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Parallax
                                </a>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Single
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Case Study 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Case Study 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Case Study 3
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Case Study 4
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Case Study 5
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Shop
                        </a>
                        <ul>
                            <li class="has-dropdown">
                                <a href="#">
                                    Shop Layout
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Sidebar Left
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sidebar Right
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            4 Columns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            3 Columns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            2 Columns
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Product Single
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Sidebar Left
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sidebar Right
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            No Sidebar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Cart
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Checkout
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Blog
                        </a>
                        <ul>
                            <li class="has-dropdown">
                                <a href="#">
                                    Listing
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Sidebar Left
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sidebar Right
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            No Sidebar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Masonry
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Sidebar Left
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sidebar Right
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            3 Columns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            2 Columns
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Single
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Sidebar Left
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sidebar Right
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            No Sidebar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Disqus Comments
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Simple Feed
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--end of menu module-->
            <div class="module widget-handle search-widget-handle left">
                <div class="search">
                    <i class="ti-search"></i>
                    <span class="title">Search Site</span>
                </div>
                <div class="function">
                    <form class="search-form">
                        <input type="text" placeholder="Type Here" />
                    </form>
                </div>
            </div>
            <div class="module widget-handle cart-widget-handle left">
                <div class="cart">
                    <i class="ti-bag"></i>
                    <span class="label number">2</span>
                    <span class="title">Shopping Cart</span>
                </div>
                <div class="function">
                    <div class="widget">
                        <h6 class="title">Shopping Cart</h6>
                        <hr>
                        <ul class="cart-overview">
                            <li>
                                <a href="#">
                                    <%= image_tag "shop-widget-1.png" %>
                                    <div class="description">
                                        <span class="product-title">Canvas Backpack</span>
                                        <span class="price number">$39.90</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <%= image_tag "shop-widget-2.png" %>
                                    <div class="description">
                                        <span class="product-title">Vintage Camera</span>
                                        <span class="price number">$249.50</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="cart-controls">
                            <a class="btn btn-sm btn-filled" href="#">Checkout</a>
                            <div class="list-inline pull-right">
                                <span class="cart-total">Total: </span>
                                <span class="number">$289.40</span>
                            </div>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
            </div>
            <div class="module widget-handle language left">
                <% if user_signed_in? %>
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="#">Account</a>
                            <ul>
                                <li>
                                    <%= link_to('Profile', my_profile_path) %>
                                </li>
                                <li>
                                    <%= link_to('Users', users_path) %>
                                </li>
                                <li>
                                    <%= link_to('Logout', destroy_user_session_path, :method => :get) %>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <% else %>    
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="#">Account</a>
                            <ul>
                                <li>
                                    <%= link_to('Sign in', new_user_session_path) %>
                                </li>
                                <li>
                                    <%= link_to('Sign up', new_user_registration_path) %>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <% end %>    
            </div>
        </div>
        <!--end of module group-->
    </div>
</nav>