<%= stylesheet_link_tag "theme-hyperblue" %>
<style>
    .logo-font {font-family: 'Belleza';}
    .module.widget-handle:hover .function {
        width: 450px;
        opacity: 1;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        visibility: visible;
    }
    .text-white {color: #fff;}
    .cart-overview li {margin: 0;}

</style>
<div class="main-container">
    <section class="fullscreen image-bg parallax background-multiply">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="http://growthafrica.com/wp-content/uploads/MG_5550.jpg" />
        </div>
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="uppercase text-center logo-font">Open Africa</h4>
                    <h1 class="thin mb0 text-center">A technology-driven intelligence network.</h1> <!-- funding driven and innovative entrepenuer -->
                    <br/>
                    <br/>
                    <br/>
                    <div class="row" style="padding-left: 120px;">
                        <div class="col-md-3 col-sm-6 mb-xs-24">
                            <i class="ti-pulse icon mb32"></i>
                            <h6 class="uppercase">Financial Monitoring</h6>
                            <ul>
                                <li>Independent Audits</li>
                                <li>Business Valuation</li>
                                <li>Financial Planning & Forecasting</li>
                                <li>Adventours</li>
                                <li>Airbnb</li>
                                <li>Chemist Warehouse</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-xs-24">
                            <i class="ti-stats-up icon mb32"></i>
                            <h6 class="uppercase">asset performance</h6>
                            <ul>
                                <li>Asset Allocation</li>
                                <li>Tax Advisory</li>
                                <li>Accounting</li>
                                <li>Crackle</li>
                                <li>Urban Spoon</li>
                                <li>Yelp</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-xs-24">
                            <i class="ti-direction-alt icon mb32"></i>
                            <h6 class="uppercase">research & analytics</h6>
                            <ul>
                                <li>Data-driven Insights</li>
                                <li>Twitter</li>
                                <li>Google AdWords</li>
                                <li>Track My Day</li>
                                <li>SocialScape</li>
                                <li>Tinder</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-xs-24">
                            <i class="ti-shield icon mb32"></i>
                            <h6 class="uppercase">risk and compliance</h6>
                            <ul>
                                <li>Corporate Documentation</li>
                                <li>Compliance and Reporting</li>
                                <li>Automated Systems</li>
                                <li>Precipitatr</li>
                                <li>Nimb.us</li>
                            </ul>
                        </div>
                    </div>
            
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <div class="align-bottom text-center">
            <a class="btn btn-white mb32" href="#">Become a Partner</a>
            <ul class="list-inline social-list mb24">
                <li>
                    <a href="#">
                        <i class="ti-twitter-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-dribbble"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-vimeo-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="uppercase">About wilfyre capital</h6>
                    <hr class="mb-xs-24">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-10">
                    <h1 class="thin">Learning to value, build, finance, and scale companies since '06</h1>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb-xs-0">
                <div class="col-md-6 col-sm-8">
                    <p class="lead">
                        Wildfyre Capital partners with passionate entrepreneurs and startups to build enduring, era-defining companies that define their niche or industry.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="number">Process</h2>
                    <p>
                        Track records and historical performance are not everything. A defensible investment philosophy, rigorous valuation methodology, comprehensive due diligence framework, and transparent process is.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="number">150+</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>Millions</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                </div>
            </div>
            <!--end of row-->
            <br/>
            
            <hr class="mb0">
            
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h5 class="uppercase">
                                <strong>Principles</strong>
                            </h5>
                        </div>
                        <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                            <p class="mb0">Strive for the perfect balance
                                <br /> between form and function.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                            <p class="mb0">Communicate with clarity, be complex
                                <br /> but never complicated.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                            <p class="mb0">Constructive collegiality is key
                                <br /> to the stimulation of ideas.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-md-offset-3 mb-xs-24">
                            <p class="mb0">Question standard norms before
                                <br /> choosing to obey them.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-xs-24">
                            <p class="mb0">Embrace the difficult decision
                                <br /> that drive creativity forward.</p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <p class="mb0">Trust in collaboration
                                <br /> the hallmark of our work.</p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            
            <hr class="mb0">

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="uppercase mb64 mb-xs-40">
                                <strong>Previous Collaborators</strong>
                            </h5>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul class="slides">
                                <li>
                                    <a href="#">
                                        <%= image_tag "l1.png" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <%= image_tag "l2.png" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <%= image_tag "l3.png" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <%= image_tag "l4.png" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <%= image_tag "l1.png" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <%= image_tag "l2.png" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <%= image_tag "l3.png" %>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <%= image_tag "l4.png" %>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of logo slider-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-bg overlay parallax">
        <div class="background-image-holder">
            <%= image_tag "cover11.jpg", class: "background-image" %>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="uppercase mb64 mb-xs-32 bold">Areas of Expertise</h4>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed">
                        <div class="text-center">
                            <i class="ti-target icon"></i>
                            <br/>
                            <h5 class="uppercase mb16">Research & Valuation</h6>
                        </div>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed">
                        <div class="text-center">
                            <i class="ti-money icon"></i>
                            <h5 class="uppercase mb16">Getting Funded</h6>
                        </div>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed">
                        <div class="text-center">
                            <i class="ti-light-bulb icon"></i>
                            <h5 class="uppercase mb16">Financial Insights</h5>
                        </div>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                    <!--end of feature-->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed">
                        <div class="text-center">
                            <i class="ti-direction-alt icon"></i>
                            <br/>
                            <h5 class="uppercase mb16">Research & Valuation</h6>
                        </div>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed">
                        <div class="text-center">
                            <i class="ti-heart-broken icon"></i>
                            <h5 class="uppercase mb16">Getting Funded</h6>
                        </div>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed">
                        <div class="text-center">
                            <i class="ti-dashboard icon"></i>
                            <h5 class="uppercase mb16">Financial Insights</h5>
                        </div>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
                        </p>
                    </div>
                    <!--end of feature-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    

    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="uppercase">our services and capabilities</h6>
                    <hr class="mb-xs-24">
                </div>
            </div>
            <br/>
            <br/>
            <!--end of row-->
            <div class="row">
                <div class="col-md-10">
                    <h1 class="thin">Focused, Diverse, Disruptive.</h1>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb-xs-0">
                <div class="col-md-6 col-sm-8">
                    <p class="lead">
                        Foundry maintains a portfolio spanning multiple sectors. Disruptive technology is our unifying theme.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <!--end of row-->
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="ti-pulse icon mb32"></i>
                    <h6 class="uppercase">assessment & Monitoring</h6>
                    <ul>
                        <li>Medibank Private</li>
                        <li>Fit Bit</li>
                        <li>GoPro LTD.</li>
                        <li>Adventours</li>
                        <li>Airbnb</li>
                        <li>Chemist Warehouse</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="ti-map-alt icon mb32"></i>
                    <h6 class="uppercase">financial roadmap</h6>
                    <ul>
                        <li>Find My iPhone</li>
                        <li>FourSquare</li>
                        <li>Periscope</li>
                        <li>Crackle</li>
                        <li>Urban Spoon</li>
                        <li>Yelp</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="ti-mobile icon mb32"></i>
                    <h6 class="uppercase">financial technology</h6>
                    <ul>
                        <li>Life Invader</li>
                        <li>Twitter</li>
                        <li>Google AdWords</li>
                        <li>Track My Day</li>
                        <li>SocialScape</li>
                        <li>Tinder</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="ti-harddrives icon mb32"></i>
                    <h6 class="uppercase">Enterprise solutions</h6>
                    <ul>
                        <li>Box</li>
                        <li>Sunny Cloudy</li>
                        <li>Cumulii</li>
                        <li>Precipitatr</li>
                        <li>Nimb.us</li>
                    </ul>
                </div>
            </div>
            
            <br/>
            <br/>
            <br/>

            <!--end of row-->
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="ti-pulse icon mb32"></i>
                    <h6 class="uppercase">Health Monitoring</h6>
                    <ul>
                        <li>Medibank Private</li>
                        <li>Fit Bit</li>
                        <li>GoPro LTD.</li>
                        <li>Adventours</li>
                        <li>Airbnb</li>
                        <li>Chemist Warehouse</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="ti-map-alt icon mb32"></i>
                    <h6 class="uppercase">Location Services</h6>
                    <ul>
                        <li>Find My iPhone</li>
                        <li>FourSquare</li>
                        <li>Periscope</li>
                        <li>Crackle</li>
                        <li>Urban Spoon</li>
                        <li>Yelp</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="ti-mobile icon mb32"></i>
                    <h6 class="uppercase">Social Data</h6>
                    <ul>
                        <li>Life Invader</li>
                        <li>Twitter</li>
                        <li>Google AdWords</li>
                        <li>Track My Day</li>
                        <li>SocialScape</li>
                        <li>Tinder</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="ti-harddrives icon mb32"></i>
                    <h6 class="uppercase">Cloud Enterprise</h6>
                    <ul>
                        <li>Box</li>
                        <li>Sunny Cloudy</li>
                        <li>Cumulii</li>
                        <li>Precipitatr</li>
                        <li>Nimb.us</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    
    <section class="image-bg bg-light parallax overlay pt160 pb160 pt-xs-80 pb-xs-80">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="uppercase text-center bold">our reputation</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3 class="mb64 uppercase">People &nbsp;
                        <i class="ti-heart"></i>&nbsp; wildfyre
                    </h3>
                    <div class="testimonials text-slider slider-arrow-controls">
                        <ul class="slides">
                            <li>
                                <p class="lead">It's clear to see just how seriously these guys take design. I've never come across a template with the level of polish as this - and don't even get me started on the page builder, there is simply NO competition. Customer for life.</p>
                                <div class="quote-author">
                                    <%= image_tag "avatar1.png"  %>
                                    <h6 class="uppercase">Anna Thompson</h6>
                                    <span>Themeforest Customer</span>
                                </div>
                            </li>
                            <li>
                                <p class="lead">I love the ease-of-use the builder provides - I can quickly test different combinations and experiment with font and color combinations to find that sweet spot. Kudos for the amazing support too, really quick turnaround!</p>
                                <div class="quote-author">
                                    <%= image_tag "avatar2.png" %>
                                    <h6 class="uppercase">Rick Dempsey</h6>
                                    <span>Themeforest Customer</span>
                                </div>
                            </li>
                            <li>
                                <p class="lead">A fine example of atomic design brought to life. As a seasoned template user, I really appreciate the consistent styling for all common tags, it makes customising the sections that much easier. 5 stars as always for an amazing template.</p>
                                <div class="quote-author">
                                    <%= image_tag "avatar3.png" %>
                                    <h6 class="uppercase">Gill Sans</h6>
                                    <span>Themeforest Customer</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            <!--end of row-->
            </div>
        </div>
    </section>
    
    
    <hr class="mb0">
   

        <!--end of container-->
    </section>


    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="uppercase">The wildfyre network</h6>
                    <hr class="mb-xs-24">
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-md-10">
                    <h1 class="thin">Learning to value, build, finance, and scale companies since '06</h1>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb-xs-0">
                <div class="col-md-6 col-sm-8">
                    <p class="lead">
                        Wildfyre capital partners with passionate entrepreneurs and startups to build enduring, era-defining companies that define their categories.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
              <!--end of row-->
            <div class="row">
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Brian Ho</h6>
                    <span>Principal / Partner</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/AAEAAQAAAAAAAAOpAAAAJDA2ZWRiMzkxLWJlZDgtNGRhNi04YWY5LWVjODg5YmNjYThjOQ.jpg" />
                    <h6 class="uppercase mb0 color-primary">Robert Sainsbury</h6>
                    <span>Principal / Partner</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Katia Hingers</h6>
                    <span>Cloud Enterprise</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Rick Chesney</h6>
                    <span>Location Services</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Jony Gibbs</h6>
                    <span>Social Data</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Alison Le</h6>
                    <span>Social Data</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Chris Wheeler</h6>
                    <span>Cloud Enterprise</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Robert Salsa</h6>
                    <span>Health & Fitness</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Jony Gibbs</h6>
                    <span>Social Data</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Alison Le</h6>
                    <span>Social Data</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Chris Wheeler</h6>
                    <span>Cloud Enterprise</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Robert Salsa</h6>
                    <span>Health & Fitness</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Jony Gibbs</h6>
                    <span>Social Data</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Alison Le</h6>
                    <span>Social Data</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Chris Wheeler</h6>
                    <span>Cloud Enterprise</span>
                </div>
                <div class="col-md-3 col-sm-4 mb24">
                    <img alt="Pic" class="mb24" src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" />
                    <h6 class="uppercase mb0 color-primary">Robert Salsa</h6>
                    <span>Health & Fitness</span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="pt240 pb240 image-bg parallax">
        <div class="background-image-holder">
            <%= image_tag "capital4.jpg", class: "background-image" %>
        </div>
    </section>
      <section class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase mb40 mb-xs-24">Smash Your Comfort Zone</h3>
                    <p class="lead mb64">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                    </p>
                    <%= image_tag "signature.png", class: "image-small" %>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="uppercase">Updates & Insights</h6>
                    <hr class="mb-xs-24">
                </div>
            </div>
            <br/>
            <br/>
            <!--end of row-->
            <div class="row">
                <div class="col-md-10">
                    <a class="twitter-timeline" href="https://twitter.com/wildfyrecapital" data-widget-id="637334194302140416">Tweets by @wildfyrecapital</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <div class="row">
                <div class="twitter-feed thirds">
                    <div class="tweets-feed" data-widget-id="637334194302140416">
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

     <section class="p0">
        <div class="map-holder pt160 pb160">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.4086040735224!2d144.976411!3d-37.87412599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad66889faebddf1%3A0xcc68084b44a30620!2sRiva+St+Kilda!5e0!3m2!1sen!2sau!4v1427779902899"></iframe>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <h4 class="uppercase">Get In Touch</h4>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                    </p>
                    <hr>
                    <p>
                        438 Marine Parade
                        <br /> Elwood, Victoria
                        <br /> P.O Box 3184
                    </p>
                    <hr>
                    <p>
                        <strong>E:</strong> hello@foundry.net
                        <br />
                        <strong>P:</strong> +614 3948 2726
                        <br />
                    </p>
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-1">
                    <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                        <input type="text" class="validate-required" name="name" placeholder="Your Name" />
                        <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address" />
                        <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
                        <input type="submit" value="Send Message" />
                    </form>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
<%= render "shared/footer" %>    
</div>