<!DOCTYPE html>
<html>
  <head>
    <title>OpenAfrica</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600", "https://fonts.googleapis.com/css?family=Allerta+Stencil", "https://fonts.googleapis.com/css?family=Belleza", "https://fonts.googleapis.com/css?family=Marcellus" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
